DATABASE_URL=postgres://vvs:vvs_dev_password@127.0.0.1:5433/vvs_dev
REDIS_URL=redis://localhost:6379
JWT_SECRET=
NODE_ENV=development
PORT=3000
LOG_LEVEL=debug
PAYSTACK_SECRET_KEY=
R2_ACCOUNT_ID=
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_BUCKET_NAME=
